/* hide-spin-buttons.css */
.hide-spin-buttons::-webkit-inner-spin-button,
.hide-spin-buttons::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide-spin-buttons {
    -moz-appearance: textfield; /* Firefox */
}
